<div class="col-md-6">
  <div class="card show-card">
    <div class="row d-flex justify-content-between">

      <div class="col-auto">
        <div class="row">
          <div class="col-auto">
            <strong>Adresse:</strong>
          </div>
          <div class="col-auto">
            <%= simple_format @project.address %>
          </div>
        </div>
      </div>

      <div class="col-auto">
        
        <% unless @project.tel == "" %>
          <div class="row">
            <div class="col-auto">
              <p><strong>Tel.: </strong></p>
            </div>
            <div class="col text-right" style="white-space: nowrap;">
              <p><%= tel_to @project.tel %></p>
            </div>
          </div>
        <% end %>
        
        <% unless @project.email == "" %>
          <div class="row">
            <div class="col-auto">
              <p><strong>Email: </strong></p>
            </div>
            <div class="col text-right" style="white-space: nowrap;">
              <p><%= mail_to @project.email %></p>
            </div>
          </div>
        <% end %>
        
        <div class="row">  
          <div class="col-auto">
            <p><strong>Webseite: </strong></p>
          </div>
          <div class="col text-right">
            <p><%= link_to 'Webseite des Projekts', @project.webpage, class:'btn btn-sm btn-designed' %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>