<div class="row">
  <div class="col-md-6">
    <div class="card show-card">
      <strong><%= title1 %>:</strong>
      <p><%= simple_format content1 %></p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card show-card">
      <strong><%= title2 %>:</strong>
      <p><%= simple_format content2 %></p>
    </div>
  </div>
</div>
