<div class="container">
  <h3><strong>
    Freiwilligenarbeit - Projekte im Natur- und Tierschutz
    <%= link_to "Neues Projekt", new_project_path, class: "btn btn-warning" if logged_in?(:admin) %>
  </strong></h3>
  <hr><br>

  <div class="row">
    <%= render @projects %>
  </div>
</div>