<div class="cars show-card">
	<h4><strong>Kontakt</strong></h4>
	<hr><br>
	
	<div class="content-container">
		<strong>
			<p>
				Hast du noch Fragen, Anregungen oder kannst ein Projekt empfehlen, das auf Voluntips.de passen würde?
			</p>
			<br>
			<p>
				Schreib einfach eine Email an: <%= mail_to "info@voluntips.de" %>
			</p>
			<p>
				Oder ruf an unter: <%= tel_to "+49 (0) 30 6807 3252" %>
			</p>
		</strong>
	</div>
</div>