<p id="notice"><%= notice %></p>

<div class="content-container show-card">
	<h4><strong>Disclaimer</strong></h4>
	<hr>
	<p>Inhalt und Werke dieser Website sind urheberrechtlich gesch&uuml;tzt. Trotz h&ouml;chster Sorgfalt kann nicht f&uuml;r die Richtigkeit der wiedergegebenen Informationen oder die permanente technische Erreichbarkeit garantiert werden. Es wird keine Haftung f&uuml;r den Inhalt von extern verlinkten Websites &uuml;bernommen. Auf deren Inhalte haben wir keinen Einfluss und distanzieren uns ausdr&uuml;cklich. Sollten Sie dennoch etwas an unseren Seiten zu beanstanden haben, bitten wir um einen einfachen entsprechenden Hinweis, damit wir die Inhalte schnellstm&ouml;glich entfernen k&ouml;nnen.<br>
	Quelle: <%= link_to "Impressum-Generator von anwalt.de", "http://www.anwalt.de/vorlage/impressum-generator.php" %></p><br>

	<h5><strong>Bilder:</strong></h5>
	<p>Verwendete Bilder sind von den jeweilig beschriebenen Organisationen bzw. Unternehmen oder von pixabay.com f&uuml;r die Nutzung auf dieser Seite freigegeben, urheberrechtlich gesch&uuml;tzt und ausschlie&szlig;lich f&uuml;r die pers&ouml;nliche Information bestimmt. Jede weitergehende Verwendung, besonders jede Form der Vervielf&auml;ltigung und gewerblicher Nutzung sowie die Weitergabe an Dritte, auch in Teilen oder in &uuml;berarbeiteter Form, ist untersagt.</p>
</div>