<div class="content-container show-card">
	<h4><strong>Impressum</strong></h4>
	<hr>
	<p>Angaben gem&auml;&szlig; &sect; 5 TMG:</p><br>
	<p>Felix Eichner<br> 
	Bugenhagenstr. 16<br>
	10551 Berlin</p><br>

	<p><strong>Kontakt:</strong><br>
	Telefon: <%= tel_to "+49 (0) 30 6807 3252" %><br>
	E-Mail: <%= mail_to "voluntips@gmail.com" %></p>
</div>