@import "bootstrap";
@import "font-awesome";

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("grass-287100_1024.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
}

.left_navbar {
  margin-right: 1rem;
  margin-top: 6rem;
  text-align: center;
  align-items: start !important;
}

.btn-designed {
  display: inline-block;
  background-color: #D98D0B;
  color: #282828;
  font-weight: bold;
  box-shadow: 5px 5px 3px #888888;
}

.btn-filter {
  display: block !important;
}

.btn-filter.active {
  border: #555 solid;
}

.cover-container, .content-container, .voluntext-container {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  padding: 1rem;
}

.cover-container {
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.content-container, a {
  color: #545454;
}

.voluntext-container {
  margin-bottom: 1rem;
}

.col-auto, .col {
  max-width: 100%;
}

.card {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  text-align: center;
}

.projects-card, .image-map-card {
  padding: 1rem;
  height: 100%;
  box-shadow: 5px 5px 3px #707070;
}

.show-card {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem; 
  min-height: 88%;
  max-width: 100%;
  text-align: justify;
  color: #363636;
}

.image-map-card {
  margin-bottom: 1rem; 
  color: #363636; 
}

.slide-images {

  min-height: auto;
  max-width: 100%;
  margin: auto
}

.fa {
  font-size: xx-large;
  color: black;
}

/*
 * Header
 */

.masthead {
	top: 0;
}

.masthead-brand {
  min-width: 200px;
}

.nav-masthead {
	horizontal-align: center;
}

#navbarHeader {
  width: 100%;
}

.nav-masthead .nav-link {
  padding: .25rem 0.7rem;
  margin: 1rem;
  font-size: large;
  font-weight: bold;
  color: rgba(255,255,255,.9);
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  border-bottom: .25rem solid transparent;
}

.masthead .collapse.show .nav-link {
  display: inline-block;
  min-width: 131px;
  text-align: center;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-collapse {
  flex-basis: auto;
}

.nav-tabs {
  margin-left: 1rem;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-tabs .nav-link {
  border-color: #ddd #ddd #fff;
  box-shadow: 3px -1px 2px #888888;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
	.nav-masthead {
		vertical-align: center;
	}

  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

	.container {
		max-width: 100%;
	}
}

@media (max-width: 62em) {
  .content-container, .show-card {
    text-align: left;
  }

  .navbar {
    justify-content: start;
  }

  .navitem-large {
    display: none;
  }

  .content {
    display: inherit;
  }

  .left_navbar {
    text-align: center;
    align-items: start !important;
  }

  .navbar-toggler {
    border: none;
  }
}