@import "bootstrap";
@import "font-awesome";

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("grass-287100_1024.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.left_navbar {
  margin-right: 1rem;
  margin-top: 6rem;
  text-align: center;
  align-items: start !important;
  max-width: 30%;
}

.btn-designed, .btn-submit {
  display: inline-block;
  background-color: #D98D0B;
  color: #282828;
  font-weight: bold;
  box-shadow: 5px 5px 3px #888888;
}

.btn-group {
  display: inline-block;
}

.btn-submit {
  border: solid;
}

.btn-filter {
  display: block !important;
}

.btn-filter.active {
  border: #555 solid;
}

.filter-container .btn-designed {
  box-shadow: none;
  margin-bottom: 1rem;
}

.cover-container, .content-container, .voluntext-container, .filter-container {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  padding: 1rem;
}

.cover-container {
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.content-container, a {
  color: #545454;
}

.filter-container {
  text-align: left;
  margin-top: 1rem;
  padding-left: 2rem;
}

.voluntext-container {
  margin-bottom: 1rem;
}

.col-auto, .col {
  max-width: 100%;
}

.card {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  text-align: center;
}

.projects-card, .image-map-card {
  padding: 1rem;
  height: 100%;
  box-shadow: 5px 5px 3px #707070;
}

.show-card {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem; 
  min-height: 88%;
  max-width: 100%;
  text-align: justify;
  color: #363636;
}

.image-map-card {
  margin-bottom: 1rem; 
  color: #363636; 
}

.slide-images {

  min-height: auto;
  max-width: 100%;
  margin: auto
}

.fa {
  font-size: xx-large;
  color: black;
}

.filter-container .col-auto {
  padding-right: 0;
}

.filter-dropdown-menu-sm {
  column-count: 2;
  max-height: 214px;
}

.filter-dropdown-menu-md {
  column-count: 2;
  max-height: 286px;
}

.filter-dropdown-menu-lg, .filter-dropdown-menu-xl {
  column-count: 3;
  max-height: 262px;
}

.dropdown-menu {
  top: 0;
  left: 100%;
  padding: 10px;
  label {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .col-md-12 {
    padding: 0;
  }
  .checkbox-inline .checkbox {
    margin-right: 5px;
  }
}


.checkbox-inline.no_ident {
  margin-left: 15px;
}

.checkbox-inline .checkbox {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

.checkbox-group {
  margin-top: 5px;
}

/*
 * Header
 */

.masthead {
	top: 0;
}

.masthead-brand {
  min-width: 200px;
}

.nav-masthead {
	horizontal-align: center;
}

#navbarHeader {
  width: 100%;
}

.nav-masthead .nav-link {
  padding: .25rem 0.7rem;
  margin: 1rem;
  font-size: large;
  font-weight: bold;
  color: rgba(255,255,255,.9);
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  border-bottom: .25rem solid transparent;
}

.masthead .collapse.show .nav-link {
  display: inline-block;
  min-width: 131px;
  text-align: center;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-collapse {
  flex-basis: auto;
}

.nav-tabs {
  margin-left: 1rem;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-tabs .nav-link {
  border-color: #ddd #ddd #fff;
  box-shadow: 3px -1px 2px #888888;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
	.nav-masthead {
		vertical-align: center;
	}

  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

	.container {
		max-width: 100%;
	}

}

@media (max-width: 62em) {
  .content-container, .show-card {
    text-align: left;
  }

  .navbar {
    justify-content: start;
  }

  .navitem-large {
    display: none;
  }

  .content {
    display: inherit;
  }

  .left_navbar {
    text-align: center;
    align-items: start !important;
    max-width: 100%;
    .filter-container {
      padding: 1rem 1px 0 2px;
      margin-top: 5px;
    }
    .dropdown-menu {
      top: 70%;
      left: 0;
    }
  }

  .navbar-toggler {
    border: none;
  }
}

@media (max-width: 824px) {
  .filter-dropdown-menu-xl {
    column-count: auto;
    max-height: none;
  }
}

@media (max-width: 592px) {
  .filter-dropdown-menu-lg {
    column-count: auto;
    max-height: none;
  }
}

@media (max-width: 545px) {
  .filter-dropdown-menu-md {
    column-count: auto;
    max-height: none;
  }
}

@media (max-width: 335px) {
  .filter-dropdown-menu-sm {
    column-count: auto;
    max-height: none;
  }
}