.card {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  text-align: center;

}

.projects-card {
	padding: 1rem;
	height: 100%;
}

.show-card {
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem; 
	min-height: 88%;
	max-width: 100%;
	text-align: justify;
	color: #363636;
}