<div class="cover-container">
	<div class="masthead clearfix">
		<nav class="navbar navbar-expand-md navbar-light nav-masthead">		
				<%= link_to image_tag("logo.png", width: '80%'), root_path, class: "masthead-brand" %>

      	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>

				<div class="collapse navbar-collapse" id="navbarHeader">
	    		<%= link_to "Projekte", projects_path,
	    				class: "nav-link #{active?(controller_name, 'projects')}" %>
  				<%= link_to "Volunteering", volun_text_path(VolunText.first),
  						class: "nav-link #{active?(controller_name, 'volun_texts')}" %>
  				<%= link_to "Kontakt", root_path,
  						class: "nav-link #{active?(controller_name, 'legals')}" %>
		    </div>

		</nav>
	</div>
</div>